.wrapper {
  display: flex;
  height: 100vh;
}
.main {
  width: 100%;
  overflow: auto;
  transition: margin-left 0.35s ease-in-out;
  background-color: #fafbfe;
}
#sidebar {
  width: 70px;
  min-width: 70px;
  height: 100vh;
  overflow-y: auto;
  z-index: 1000;
  transition: width 0.25s ease-in-out, min-width 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  background-color: #421557;
  overflow-x: hidden;
}
#sidebar.expand {
  width: 260px;
  min-width: 260px;
}
.toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 1rem 1.5rem;
  align-items: center;
}
.toggle-btn i {
  font-size: 1.5rem;
  color: #fafbfe;
}
.sidebar-logo {
  margin: auto 0;
}
.sidebar-logo a {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
}
.sidebar-nav {
  padding: 2rem 0;
  flex: 1 1 auto;
}
.sidebar-link {
  padding: 0.625rem 1.625rem;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  white-space: nowrap;
  border-left: 3px solid transparent;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
}
.sidebar-link i {
  font-size: 1.1rem;
  margin-right: 0.75rem;
}
.sidebar-link span {
  display: inline-block;
  max-width: 92%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1em;
}
a.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border-left: 4px solid rgb(255, 255, 255);
}
.home-btn {
  display: none;
}

@media screen and (max-width: 968px) {
  #sidebar {
    width: 70px !important;
    min-width: 70px !important;
  }

  #sidebar.expand {
    width: 40px !important;
    min-width: 40px !important;
  }

  .toggle-btn {
    display: none;
  }
  .sidebar-logo a {
    display: none;
  }
  .sidebar-link {
    padding: 0.325rem 0.595rem;
    font-size: 0.9rem;
    border-left: 2px solid transparent;
    height: 50px;
    line-height: 50px;
  }
  .sidebar-link span {
    display: none;
  }
  .sidebar-link i {
    font-size: 0.9rem;
  }
  .home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
  }

  .home-btn i {
    font-size: 0.9rem;
    color: #fafbfe;
  }
}
