<div
  class="container d-flex flex-column align-items-center justify-content-start"
  style="margin-top: 10vh"
>
  <h2 class="mb-4">Sign Up</h2>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nickname*</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter your nickname"
        formControlName="nickName"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address*</label>
      <input
        type="email"
        class="form-control"
        placeholder="Enter your email"
        formControlName="email"
      />
    </div>
    <div class="text-danger" *ngIf="signUpForm.controls['email'].invalid">
      <span  *ngIf="signUpForm.controls['email'].errors?.['email']">Email is incorrect</span>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password*</label>
      <div class="input-group">
        <input 
          [type]="passwordVisible ? 'text' : 'password'" 
          class="form-control" 
          placeholder="Enter your password"
          formControlName="password"
        />
        <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
          <i [class]="passwordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
        </button>
      </div>
    </div>
    <div class="text-danger" *ngIf="signUpForm.controls['password'].invalid">
      <span *ngIf="signUpForm.controls['password'].errors?.['minlength']">Password length must be longer than 8</span>
      <span *ngIf="signUpForm.controls['password'].errors?.['maxlength']">Password length must be less than 16</span>
    </div>
    <div class="mb-3">
      <label for="dateOfBirth" class="form-label">Date of birth</label>
      <input
        type="text"
        placeholder="Datepicker"
        class="form-control"
        bsDatepicker
        [bsConfig]="{adaptivePosition: true, 
          dateInputFormat: 'DD/MM/YYYY', 
          containerClass : 'theme-dark-blue'}"
        formControlName="dateOfBirth"
      />
    </div>
    <button type="submit" 
      [disabled]="!signUpForm.valid"
      class="btn btn-primary">Register</button>
  </form>
</div>
