@if(!accountService.currentUser()){
    <div class="container d-flex flex-column align-items-center justify-content-start" style="margin-top: 10vh">
        <h2>Hello, it is your TaskManager</h2>
        <h4 class="mb-4">Log in to your account or register</h4>
        <div>
            <a routerLink="signIn" class="btn btn-primary me-2">Sign In</a>
            <a routerLink="signUp" class="btn btn-outline-primary">Sign Up</a>
        </div>
    </div>
    <div>
        @for (item of users; track $index) {
            <li>{{item}}</li>
        }
    </div>
}@else {
    <h2>Hello world</h2>
}


