::ng-deep .tooltip-inner {
  opacity: 0.9;
}
.tasks-scroll-container {
  max-height: 75vh;
  overflow-y: auto;
  background-color: white;
}
.active-sort {
  font-weight: bold;
  color: #a600ff; /* Bootstrap primary color */
}
.order > div:hover{
  transform: scale(1.02);
}