<div class="container">
  <div
    class="d-flex justify-content-center align-items-center position-relative my-4"
  >
    <h1 class="mb-0">Your Tasks</h1>
    <button
      class="btn btn-success ms-3"
      tooltip="Create new task"
      #pop="bs-tooltip"
      placement="right"
      (click)="openNewTaskModal()"
    >
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>

  <tabset class="task-tabset">
    <div>
      <div>
        
      </div>
    </div>
    <tab heading="To Do" [active]="true" (selectTab)="loadTodoTasks()">
      @if (loading()) {} @else if ((taskService.paginatedResult()?.items ??
      []).length > 0) {
      <div
        class="tasks-scroll-container"
        style="padding-bottom: 100px;"
        infiniteScroll
        [infiniteScrollDistance]="0.3"
        [infiniteScrollThrottle]="350"
        [scrollWindow]="false"
        (scrolled)="onScroll()"
      >
        <tasks-container
          [tasks]="taskService.paginatedResult()?.items"
        ></tasks-container>
      </div>
      } @else {
      <h2>No task to do</h2>
      }
    </tab>

    <tab heading="Complete" (selectTab)="loadCompleteTasks()">
      @if (loading()) {} @else if ((taskService.paginatedResult()?.items ??
      []).length > 0) {
      <div
        class="tasks-scroll-container"
        style="padding-bottom: 100px;"
        infiniteScroll
        [infiniteScrollDistance]="0.3"
        [infiniteScrollThrottle]="350"
        [scrollWindow]="false"
        (scrolled)="onScroll()"
      >
        <tasks-container
          [tasks]="taskService.paginatedResult()?.items"
        ></tasks-container>
      </div>
      } @else {
      <h2>No completed tasks</h2>
      }
    </tab>
  </tabset>
</div>
