.change-password-card {
  width: 90%;
  max-width: 600px;
}
@media (max-width: 568px) {
  :host ::ng-deep .input-group {
    width: 100%;
    min-width: unset;
    max-width: 100%;
  }

  :host ::ng-deep .input-group .form-control {
    width: 100%;
  }
}
